@font-face{
    font-family: 'Headings';
    src: url('Montserrat-Black.ttf');
    font-weight: bold;}    

@font-face{
    font-family: 'Body';
    src: url('Raleway-ExtraBold.ttf');
    font-weight: bold;}    

/* Fonts from fonts.google.com */

* { margin: 0; padding: 0;}
body, html { 
    background:white;
    height:100%; 
    width:100%;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

h1 {
    font-family: 'Headings';
    color: #666666;
    font-size: 64px;
}
p {
    font-family: 'Body';
    color: #4285f4;
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
section {
    background: white;
    color: white;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Keep the translations off to the side */
#translations {position: absolute; top: 0; right: 0; padding: 0.5em;
  font-size: small; background: hsla(0,0%,100%,0.9); margin: 0 1em}
#translations * {font-size: 100%; margin: 0}
#translations ul {padding-left: 1em}

.button-1 {
    background-color: #454857;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    background: #454857;
    color: #bdbdbdbd;
    /* color: #ff5722; */
    cursor: pointer;
    display: block;
    font-family: 'Headings';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    margin: 0;
    max-width: 640;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: 100%; */
    width: 100%;
    /* display: none; */
}

.button-1:hover,
.button-1:focus {
    background-color: #ff5722;

    /* background-image: linear-gradient(180deg, #ff5722, #4285f4); */
	color: #fff;
	/* box-shadow: 0 1px 1px #fff; */
    
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.note {
font-family: 'Body';
display: none;
color: #fff;
}

label {
    font-family: 'Headings';
    color: #666666;

    
}

/* Thanks to https://codepen.io/scottyzen/pen/ZEWYdZm */
.radio {
	background: #454857;
	padding: 4px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
		0 0 0 3px rgba(185, 185, 185, 0.3);
	position: relative;
    display: block;
    width: auto;
}

.radio input {
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 10px 50px;
	background: #454857;
	color: #bdbdbdbd;
    font-size:xxx-large;
	/* font-size: 14px; */
	font-family: 'Headings';
	transition: all 100ms linear;
}

.radio input:checked {
	/* background-image: linear-gradient(180deg, #ff5722, #4285f4); */
	background-color: #ff5722;
	color: #fff;
	/* box-shadow: 0 1px 1px #fff; */
    
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

.column {
    float: left;
    width: 50%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
}

.group {
    position: relative;
}

.noteInstruction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.the {
    height: 720px;
}